/* Here we can set styles for this lab page that we don't want to effect others pages */

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 2px #000000;
  background-color: #ffffff;
}

  .oops {
    display: block;
    object-fit: contain;
    height: 550px;
    width: auto;
    margin: 5px; 
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #000000;
    
  }

  .yeahyeahyeah {
    color: #ffffff;
  }

  .output{ 
    margin-left: 100px;
  }

  .yeah{
    text-align: center;
  }

  .special {
    height: auto;
    width:auto;
    background-color:#000000;
    margin-top: 0px;
    background:linear-gradient(to right, #ec1e1e, #f2b81a, #29e33b, #194fda, #d127e8);
    font-weight: bold;
    color: white;
}

  .special-section{
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #000000;
    background-color: #ffffff;
    
}

  #problems{
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #000000;
    background-color: #ffffff;
  }

  #reflection{
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #000000;
    background-color: #ffffff;

  }

