/* Here we can set styles for this lab page that we don't want to effect others pages */
#content {
  padding: 5px;
  margin-bottom: 10px;
  border: thin 10px #d20a96;
  background-color: #090007;
  
}
  
  img{
    width: 200px;
    margin-left: 20px;
  }
  h1 {
    color: #1b0042;
    font-size: 200%;
  }
  p{
    font-family: cursive;
    text-indent: 10px;
    margin-left: 10px;
    text-decoration: line-through;
    color: #d20a96;
  }

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #f55bc1;
    background-color: black;
  }



